<div class="header">
    <div class="logo">
        <img src="static/images/white_bg.png" width="100px" height="75px" alt="">
        <div class="title">
            <h1>Portfolio</h1>
        </div>
    </div>
    <div class="nav">
        <nav class="nav-menu">
            <ul class="nav-links">
                <li>
                    <div class="link">
                        <a href="index.html">Home</a>
                    </div>
                </li>
                <li>
                    <div class="link">
                        <a href="../about.html">About</a>
                    </div>
                </li>
                <li>
                    <div class="link">
                        <a href="../projects.html">Projects</a>
                    </div>
                </li>
                <li>
                    <div class="link">
                        <a href="../education.html">Education</a>
                    </div>
                </li>
                <li>
                    <div class="link">
                        <a href="../experience.html">Experience</a>
                    </div>
                </li>
                <li>
                    <div class="link">
                        <a href="../contact.html">Contact</a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</div>